---
title: Driving Instructor York
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
- NHS
---

<!-- Page Intro -->

<div class="container home-img">
  <div class="row">
    <div class="col">
      <div class="jumbotron home-jmbo animated fadeInUp">
        <h1><span class="title-a">check</span><span class="title-b">mirrors</span></h1>
        <h2>Driving instructors in York</h2>
        <hr class="my-4">
        {% include news.html %}
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="tel:07821291783" role="button"><i class="fa fa-phone" data-wow-delay=".1s"></i> Call to Book</a>
        </p>
        {% include fb-share.html %}
      </div>
    </div>
  </div>
</div>

<!-- Intro End -->

<!-- Home Details -->
<section class="home-details">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h3>Learn to drive with confidence</h3>
        <ul class="home-features">
          <li>Learn to drive in <a href="/driving-lessons-york">York</a></li>
          <li>Fully qualified ADI instructors</li>
          <li>Pass Plus Available</li>
          <li>Flexible around you</li>
          <li>NHS discount available</li>
        </ul>
      </div>
      <div class="col col-xs-12">
        <p class="lead"><span class="title-a">check</span><span class="title-b">mirrors</span> is an established school of motoring.  We pride ourselves on offering a professional, high standard service that puts the pupil first.</p>
      </div>

    </div>
  </div>
</section>

<!-- Home Page Cards -->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/img/card-1.jpg" alt="Our fleet">
        <div class="card-block">
          <h4 class="card-title">Learn to Drive</h4>
          <p class="card-text">
            <ul>
            <li>Flexible times to suit</li>
            <li>Accreditted instructors</li>
            <li>Only £25 per lesson</li>
          </ul>
          </p>
          <a href="/lessons" class="btn btn-primary btn-block">Learn to drive</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/img/card-2.jpeg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Pass Plus</h4>
          <p class="card-text">
            <ul>
              <li>Excellent for new drivers</li>
              <li>Lower you insurance premium</li>
              <li>Safe driving for life</li>
            </ul>
          </p>
          <a href="{{ site.github.url }}/passplus" class="btn btn-primary btn-block">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/img/card-3.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Become an Instructor</h4>
          <p class="card-text">
            <ul>
              <li>Flexible working hours</li>
              <li>self-employment</li>
              <li>regular pupil referrals</li>
            </ul>
          </p>
          <a href="{{ site.github.url }}/become-an-instructor/" class="btn btn-primary btn-block">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cards End -->

{% include about.html %}
