---
title: Testimonials
permalink: "/testimonials/"
layout: default
category: Testimonial
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
- testimonials
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container testimonal-img">
  <div class="row">
    <div class="col"></div>
    <div class="col-9">
      <div class="page-title">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h2 class="test-year">2018</h2>
      </div>
    </div>
    <div class="row">
      {% for post in site.posts %}
        {% if post.year == 2018 %}
      <div class="col-md-3 col-xs-12">
        <div class="card">
          <img class="card-img-top" src="{{ site.github.url }}{{ post.img-url }}" alt="Our fleet">
          <div class="card-block">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">
              {{ post.date | date_to_long_string }}
            </p>
              <div class="fb-share-button" data-href="{{ site.github.url}}/{{ post.url }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      </div>
    <div class="row align-items-center">
      <div class="col-md-12">
        <h2 class="test-year">2017</h2>
      </div>
    </div>
    <div class="row">
      {% for post in site.posts %}
      {% if post.year != 2018 %}
      <div class="col-md-3 col-xs-12">
        <div class="card">
          <img class="card-img-top" src="{{ post.img-url }}" alt="Our fleet">
          <div class="card-block">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">
              {{ post.date | date_to_long_string }}
            </p>
              <div class="fb-share-button" data-href="{{ site.github.url}}/{{ post.url }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
          </div>
        </div>
      </div>
      {% endif %}
{% endfor %}
<div class="col"></div>
  </div>
</div>
