<!-- Become an Instructor Promo -->

  <div class="container-fluid">
    <div class="row test-promo">
      <div class="col"></div>
      <div class="col-6">
        <h3>Book from only {{site.pricePerLesson}} per hour or 10 lessons for {{site.priceForTen}}</h3>
        <a class="btn btn-primary btn-lg typeform-share button" href="https://naaman10.typeform.com/to/y2l4S0" data-mode="drawer_right" target="_blank">Book Now</a>
      </div>
      <div class="col"></div>
    </div>
  </div>
