<footer class="namo">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h3>Around the web</h3>
      {% include social.html %}</div>
    <div class="col-md-4 col-xs-12">
      <img class="footer-cert" src="{{ site.github.url }}/img/dvsa.png" src="DVSA ADI" width="25%" >
      <img class="footer-cert" src="{{ site.github.url }}/img/pass-plus.png" alt="Pass Pluss Certified" width="25%">
      <img class="footer-cert" src="{{ site.github.url }}/img/diamond.png" alt="DIAmond Advanced Motorists" width="25%">
    </div>
    <div class="col-md-4 col-xs-12">
      <div>
        <h3>Designed By</h3>
        <a href="http://www.naamanhudson.com/" target="_blank" class="naaman">Naaman Hudson Web Design</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="col-12"><p>Copyright &copy; {{ site.title }} {{ site.time | date: "%Y"  }}</p></div>
    </div>
  </div>
</footer>
