<!-- Motorway section -->
<section id="motorway-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-xs-12">
        <h2>New to 2018</h2>
        <p>This year the government will be introducing motorway driving to the national driving test.</p>
        <p>All of the <span class="title-a">check</span><span class="title-b">mirrors</span> driving instructors in York are fully trained and qualified for motorway tuition.</p>
        <img src="{{ site.github.url }}/img/motorway.jpg" class="img-respon" alt="Image of a motorway">
      </div>
    </div>
</section>
