<!-- News section -->
<section class="news-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">News</h5>
            <h6 class="card-subtitle mb-2 text-muted">Change to practical lessons</h6>
            <p class="card-text">2018 introduces a new change to the practical driving lesson. This year the government will include motorway driving in to the driving ciriculum.</p>
            <a href="{{ site.github.url }}/driving-lessons-york/#motorway-section" class="card-link">Learn more</a>
          </div>
        </div>
      </div>
    </div>
</section>
