<div class="row d-flex justify-content-center">
  <div class="col-2 col-xs-2">
      <a href="tel:07821291783">
          <i class="fa fa-phone animated fadeInUp" data-wow-delay=".1s"></i>

      </a>
  </div>
  <div class="col-2 col-xs-2 ">
      <a class="typeform-share button" href="https://naaman10.typeform.com/to/gek77r" data-mode="drawer_right" target="_blank"><i class="fa fa-envelope-o animated fadeInUp" data-wow-delay=".1s"></i><script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>


      </a>
  </div>
  <div class="col-2 col-xs-2">
      <a href="https://www.facebook.com/pg/checkmirrors">
      <i class="fa fa-facebook animated fadeInUp" data-wow-delay=".1s"></i>

      </a>
  </div>
</div>
